@rendermode InteractiveServer

<nav class="navbar navbar-expand-xl navbar-dark top-navbar">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <i class="bi bi-calendar-check"></i>
            Event Scheduler
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/" aria-label="Home">
                        <i class="bi bi-house-door"></i> Home
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" @onclick="NavigateToPublicEvents" aria-label="Public Events">
                        <i class="bi bi-globe"></i> Public Events
                    </a>
                </li>
                @if (isAuthenticated)
                {
                    <li class="nav-item">
                        <a class="nav-link" @onclick="NavigateToCalendar" aria-label="Calendar View">
                            <i class="bi bi-calendar3"></i> My Calendar
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/calendar-list" aria-label="Event List">
                            <i class="bi bi-list-task"></i> My Events
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link user-name" aria-label="Current user">
                            <i class="bi bi-person-circle"></i> @userName
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" @onclick="HandleLogout" aria-label="Logout">
                            <i class="bi bi-box-arrow-right"></i> Logout
                        </a>
                    </li>
                }
                else
                {
                    <li class="nav-item">
                        <a class="nav-link" href="/login" aria-label="Login">
                            <i class="bi bi-box-arrow-in-right"></i> Login
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/register" aria-label="Sign up">
                            <i class="bi bi-person-plus"></i> Sign Up
                        </a>
                    </li>
                }
            </ul>
        </div>
    </div>
</nav>
